.title {
  font-weight: 700;
  margin-bottom: 10px;
  padding-left: 30px;
  margin-top: 40px;
}

.bull_list {
  margin-top: 40px;
  padding-left: 100px;
  font-weight: 400;
  font-size: larger;
  line-height: 2;
}

html,
body {
  height: 100%;
  background-color: #282d35;
}

.bull_list > li::marker {
  font-size: 1.5rem;
  color: #61dafb;
}
