/* I want to have the navbar have a shadow */

.nav-items {
  list-style: none;
  display: flex;
}

.nav-items > li {
  margin-left: 1rem;
}

.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-shadow: 0 8px 6px -6px rgba(0, 0, 0, 0.3);
  background-color: #21222a;
  padding-left: 1%;
}

.logo {
  width: auto;
  display: flex;
  align-items: center;
}

.test {
  display: flex;
  align-items: center;
  margin-right: 20px;
}

.company-name {
  margin-left: 10px;
  color: #00d8ff;
  font-size: 1.5rem;
  font-weight: 700;
  align-items: start;
}

.pic {
  width: 40px;
  height: auto;
}
