body {
  color: gray;
}

.card {
  padding-top: 40px;
  padding-left: 60px;
}

.card > div:first-child {
  position: relative;
}

.tag {
  position: absolute;
  top: 0;
  left: 15px;
  background-color: white;
  padding: 5px 10px 5px 10px;
  border-radius: 5px;
}

.star {
  width: 15px;
  display: inline-block; /* Change to inline-block */
  margin-bottom: 0px;
}

.rating {
  margin-left: 10px;
  display: inline-block; /* Change to inline-block */
  margin-bottom: 1px;
  margin-top: 1px;
}

.rate {
  display: flex;
  align-items: center;
  margin-bottom: 1px; /* Adjust this value as needed */
  margin-top: 1px;
}

.card_img {
  width: 300px;
  height: auto;
  object-fit: cover;
}
.disc {
  margin: 0px 0px 0px 0px;
}
.price {
  margin: 3px 0px 0px 0px;
}

.caption {
  font-size: medium;
}
